install: build/install.sh
language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
script:
  - sh build/build_and_test_all.sh
deploy:
  provider: surge
  project: personal-site-frontend/dist/
  skip_cleanup: true
  on: release
