@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Gloria Hallelujah';
  src: local('Gloria Hallelujah'), url('./fonts/Gloria_Hallelujah/GloriaHallelujah.ttf') format('truetype');
}
