@font-face {
  font-family: 'Open Sans Light';
  src: local('Open Sans Light'), url('./fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.component {
  font-family: 'Open Sans Light';
  display: flex;
  height: 100%;
  width: 100%;
}

.component.first-component {
  margin-top: 70px;
  align-items: center;
  background-color: white;
  justify-content: center;
  position: relative;
}

.component.second-component {
  background-color: red;
}
