.first-page {
  position: relative;
  overflow: hidden;
}

.landing-image {
  z-index: map-get($z-layers, "header");
}

.main-title {
  background-color: rgba($color: black, $alpha: 0.4);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: map-get($z-layers, "fullscreen");
  color: white;
  font-size: 40px;
  width: 500px;
}

.main-title:before {
  display: inline-block;
  margin: 0 20px 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 100px;
}
.main-title:after {
  display: inline-block;
  margin: 0 20px 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #999;
  width: 100px;
}
