@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Light"),
    url("./fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Signika Semi Bold";
  src: local("Signika Semi Bold"),
    url("./fonts/Signika/Signika-SemiBold.ttf") format("truetype");
}
