.second-page {
  font-family: "Signika Regular";
  margin-right: 10%;
  margin-left: 10%;

  .second-title {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: map-get($z-layers, "fullscreen");
    color: black;
    font-size: 40px;
    margin-top: 100px;
    width: 500px;
  }

  .second-title:before {
    display: inline-block;
    margin: 0 20px 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 100px;
  }
  .second-title:after {
    display: inline-block;
    margin: 0 20px 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: #999;
    width: 100px;
  }

  .subtitle {
    position: relative;
    text-align: center;
    color: $cgrey;
    font-size: 25px;
  }

  .description {
    position: relative;
    text-align: center;
    font-size: 20px;
  }

  .experience-table {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    font-size: 16px;

    .left-column {
      align-self: center;
      justify-self: center;
    }
    .right-column {
    }

    .here-logo {
      width: 200px;
    }
  }
}
