.shared {
  font-family: "Signika Regular";
  margin-right: 10%;
  margin-left: 10%;
}

.subtitle {
  position: relative;
  text-align: center;
  color: $cgrey;
  font-size: 25px;
}

.description {
  position: relative;
  text-align: center;
  font-size: 20px;
}
