@import "tiles-base";

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: #000;
}
.albumPanel {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 50%;
  height: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: map-get($z-layers, "fullscreen");
  font-family: "Open Sans Bold";
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
}
.albumPanel .aP-hd {
  text-align: center;
  color: #6d5c53;
}
.albumPanel .aP-hd i {
  background-position: -294px 0;
  display: inline-block;
  width: 18px;
  height: 17px;
  margin-bottom: -4px;
  margin-right: 5px;
}
.albumPanel .aP-hd b {
  background-position: -294px -30px;
  display: inline-block;
  width: 127px;
  height: 18px;
  color: transparent;
  margin-left: 15px;
  vertical-align: middle;
}
.albumPanel .aP-hd b s {
  display: none;
}
// Items within the album
.albumPanel .album {
  display: block;
  overflow: hidden;
  text-decoration: none;
}
.albumPanel .album img {
  border: none;
}
.albumPanel .album .a-cont,
// First image before hover
.albumPanel .album .a-cover {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.albumPanel .album .a-cover {
  opacity: 1;
}
.albumPanel .album .a-cont {
  opacity: 0;
}
.albumPanel .album:hover {
  text-decoration: none;
}
.albumPanel .album:hover .a-cover {
  opacity: 0;
}
.albumPanel .album:hover .a-cont {
  opacity: 1;
}
.albumPanel .album:hover .a-mask i {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in 0.3s;
  -moz-transition: opacity 0.2s ease-in 0.3s;
  -ms-transition: opacity 0.2s ease-in 0.3s;
  -o-transition: opacity 0.2s ease-in 0.3s;
  transition: opacity 0.2s ease-in 0.3s;
}
.albumPanel .album .a-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.albumPanel .album .a-mask i {
  display: block;
  opacity: 0;
  left: 50%;
  top: 40%;
  position: absolute;
}
.albumPanel .album .a-layer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 7%,
    rgba(255, 255, 255, 0.1) 15%,
    rgba(255, 255, 255, 0.3) 25%,
    rgba(255, 255, 255, 0.9) 45%,
    rgba(255, 255, 255, 0.8) 90%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    top,
    rgba(255, 255, 255, 0) 7%,
    rgba(255, 255, 255, 0.1) 15%,
    rgba(255, 255, 255, 0.3) 25%,
    rgba(255, 255, 255, 0.9) 45%,
    rgba(255, 255, 255, 0.8) 90%,
    rgba(255, 255, 255, 0
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#ccf0eae4,endcolorstr=#fff0eae4,gradientType=0);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
// Tile glow
.albumPanel .w1:hover .a-mask {
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.1) 52%,
    rgba(255, 255, 255, 0.55) 67%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0.9) 81%,
    rgba(255, 255, 255, 0.9) 98%,
    rgba(255, 255, 255, 0.8) 98%,
    rgba(255, 255, 255, 0)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.1) 52%,
    rgba(255, 255, 255, 0.55) 67%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0.9) 81%,
    rgba(255, 255, 255, 0.9) 98%,
    rgba(255, 255, 255, 0.8) 98%,
    rgba(255, 255, 255, 0)
  );
  background-image: linear-gradient(
    top,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 0.1) 52%,
    rgba(255, 255, 255, 0.55) 67%,
    rgba(255, 255, 255, 0.7) 70%,
    rgba(255, 255, 255, 0.9) 81%,
    rgba(255, 255, 255, 0.9) 98%,
    rgba(255, 255, 255, 0.8) 98%,
    rgba(255, 255, 255, 0)
  );
}
.albumPanel .album .a-layer .al-brand,
.albumPanel .album .a-layer .al-title {
  -webkit-transition: all 0.5s ease-in 0.1s;
  -moz-transition: all 0.5s ease-in 0.1s;
  -ms-transition: all 0.5s ease-in 0.1s;
  -o-transition: all 0.5s ease-in 0.1s;
  transition: all 0.5s ease-in 0.1s;
}
.albumPanel .album .a-layer .al-title {
  display: inline-block;
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 82px;
  height: 26px;
  min-width: 80%;
  white-space: nowrap;
  // overflow: hidden; //
}
.albumPanel .album:hover .a-mask {
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#00000000,endcolorstr=#FF000000,gradientType=0);
  background-color: transparent;
}
.albumPanel .album:hover .a-layer {
  background: none;
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#00000000,endcolorstr=#00000000,gradientType=0);
}
// Text inside tiles
.albumPanel .album:hover .a-layer .al-title {
  color: black;
}
.albumPanel .w1 {
  width: 170px;
  height: 240px;
}
.albumPanel .w1 img {
  width: 170px;
}
