.under-construction {
  background-color: rgba($color: black, $alpha: 0.4);
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: map-get($z-layers, "fullscreen");
  font-family: "Signika Semi Bold";
  font-size: 40px;
  width: 500px;
}
